{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>

    
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Logout"/>
</form>

<hr>

{% block content %}
{% endblock %}

</body>
</html>
